# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# python environrment
/Env

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Dependency directories
node_modules/


# spesific file
kaggle.js

# JSON
*.json